In [28]:
#extracting data from reut2-020.sgm file, 
#cleaning the data removing the tags and non alphabet characters
#creating seperate documents for all the articles

import re

InputFile = open("reut2-020.sgm", "r")
counter = -1
count=1
regex = re.compile('[^a-zA-Z0-9]')

for line in InputFile:
    if("<TEXT" in line):
        counter=0
        file=open('./Articles/Article'+str(count)+'.txt','a',encoding='utf-8')
        continue   
    elif("</TEXT>" in line):
        counter=-1 
        count=count+1
        file.close()
        continue
    elif(counter==0):
        line = re.sub("<[^<>]+>", " ", line) 
        tokens=line.split()
        line=""
        for token in tokens:
            new_token=regex.sub('', token)
            if new_token not in (''):
                if new_token.lower()!="reuter":
                    line=line+new_token.lower()+" "
        file.write(line.strip()+"\n")
        continue
             
InputFile.close()

In [29]:
#extracting data from reut2-021.sgm file, 
#cleaning the data removing the tags and non alphabet characters
#creating seperate documents for all the articles

InputFile = open("reut2-021.sgm", "r")
counter = -1
for line in InputFile:
    if("<TEXT" in line):
        counter=0
        file=open('./Articles/Article'+str(count)+'.txt','a',encoding='utf-8')
        continue   
    elif("</TEXT>" in line):
        counter=-1 
        count=count+1
        file.close()
        continue
    elif(counter==0):
        line = re.sub("<[^<>]+>", " ", line) 
        tokens=line.split()
        line=""
        for token in tokens:
            new_token=regex.sub('', token)
            if new_token not in (''):
                if new_token.lower()!="reuter":
                    if token.startswith('<') is False:
                        line=line+new_token.lower()+" "
        file.write(line.strip()+"\n")
        continue
             
InputFile.close()

In [30]:
#reading all the article files and doing the frequency counts of "Halifax", "Nova Scotia" and "Canada"
#counting the frequency of word "canada" in all the files

import os
import pandas as pd
canada_count=0
halifax_count=0
nova_scotia_count=0

file_tokens=0
canada_in_file=0
file_count=0
df = pd.DataFrame(columns=['term', 'document', 'total_words', 'frequency','f/m'])
index=0

for file in os.listdir("./Articles"):
    if file.endswith(".txt"):
        InputFile = open("./Articles/"+file, "r",encoding='utf-8',)
        tokens = InputFile.read().strip().split()
        file_tokens=file_tokens+len(tokens) 
        
        for word in tokens:
            if ("canada"==word):
                canada_in_file=canada_in_file+1
                #print(tokens)
                
        if('halifax' in tokens):
            halifax_count=halifax_count+1
        if('canada' in tokens):   
            canada_count=canada_count+1
            #print(file)
        if('nova scotia' in tokens):
            nova_scotia_count=nova_scotia_count+1 
            
        if canada_in_file>0:
            df.loc[index] = ("canada",file,file_tokens,canada_in_file,canada_in_file/file_tokens)
        file_tokens=0
        canada_in_file=0
        index=index+1
        InputFile.close()
        file_count=file_count+1

In [31]:
#printing the occurences(number of documnets) of given keywords in all the articles

print("canada:",canada_count,"Halifax:",halifax_count,"Nova Scotia:",nova_scotia_count)

canada: 27 Halifax: 0 Nova Scotia: 0

In [32]:
#total number of files
file_count

1578

In [39]:
#Table showing the number of documents in which the given terms are present

import math

df1 = pd.DataFrame(columns=['Search Query', 'Documents containing term(df)', 'Total_documents/df','Log(Total_documents/df)'])
df1.loc[0]=("Canada",canada_count,str(file_count)+"/"+str(canada_count),math.log10(file_count/canada_count))
df1.loc[1]=("Halifax",halifax_count,str(file_count)+"/"+str(halifax_count),"NA")
df1.loc[2]=("Nova Scotia",nova_scotia_count,str(file_count)+"/"+str(nova_scotia_count),"NA")
df1

,Search Query,Documents containing term(df),Total_documents/df,Log(Total_documents/df)
0,Canada,27,1578/27,1.76674
1,Halifax,0,1578/0,NA
2,Nova Scotia,0,1578/0,NA

In [34]:
#files along with the frquency of occuring word canada 
df

        term         document total_words frequency       f/m
2     canada  Article1124.txt          15         1  0.066667
85    canada   Article829.txt         186         2  0.010753
94    canada  Article1333.txt         221         1  0.004525
271   canada  Article1056.txt          18         1  0.055556
388   canada   Article352.txt         101         3  0.029703
501   canada   Article452.txt         179         3  0.016760
506   canada   Article335.txt         359         1  0.002786
522   canada  Article1542.txt         643         1  0.001555
552   canada   Article282.txt         175         1  0.005714
665   canada   Article520.txt          16         1  0.062500
687   canada   Article865.txt         424         1  0.002358
716   canada    Article37.txt          98         1  0.010204
764   canada   Article251.txt          27         1  0.037037
843   canada  Article1341.txt         112         2  0.017857
958   canada   Article706.txt         145         1  0.006897
976   canada  Article1005.txt          86         2  0.023256
991   canada  Article1004.txt         246         3  0.012195
1023  canada   Article511.txt         408         2  0.004902
1112  canada   Article500.txt         640         1  0.001563
1253  canada   Article411.txt         182         4  0.021978
1286  canada  Article1306.txt          78         1  0.012821
1308  canada  Article1338.txt         110         2  0.018182
1412  canada  Article1261.txt         133         2  0.015038
1414  canada  Article1513.txt          74         2  0.027027
1499  canada   Article763.txt          86         1  0.011628
1558  canada   Article986.txt         153         1  0.006536
1571  canada   Article574.txt          14         1  0.071429

In [35]:
#displaying the article in which "canada" is present higher number of times

df.loc[df['frequency'] == df['frequency'].max()]

        term        document total_words frequency       f/m
1253  canada  Article411.txt         182         4  0.021978

In [36]:
#dsiplaying the content of article in which "canada" is present higher number of times

InputFile = open("./Articles/Article411.txt", "r")
print (InputFile.read())

gm canada workers far apart in talks union
toronto oct 20 the canadian unit of general motors corp
and the union representing its 40000 workers remain far apart
over local issues in contract talks two days from a threatened
strike a union spokesman said
the deepest divisions appeared to be between general motors
of canada ltd and the canadian auto workers local representing
17000 workers at an assembly plant in oshawa ontario union
spokesman wendy cuthbertson said
local 222 is miles apart said cuthbertson the local
assembles fullsize pickup trucks the buick regal and the
pontiac 6000
local issues there included shift schedules transfers and
working conditions union president bob white said
the union has threatened to strike at 1000 hrs edt 1400
gmt on thursday unless it has reached a tentative settlement
with the automaker by then
bargaining was scheduled to continue late into the night
tuesday in an effort to avert a walkout said cuthbertson
on monday the union accepted an economic offer from gm
canada that largely matched the payandbenefit pattern reached
earlier at chrysler and ford in canada

In [37]:
#finding the article having highest relative frequency for word "canada"

df.loc[df['f/m'] == df['f/m'].max()]

        term        document total_words frequency       f/m
1571  canada  Article574.txt          14         1  0.071429

In [38]:
#dsiplayinh the article having highest relative frequency for word "canada"

InputFile = open("./Articles/Article574.txt", "r")
print (InputFile.read())

canada minister says g7 action has provided stability consultations continuing
blah blah blah
3